<div class="mdl-layout mdl-js-layout mdl-color--grey-100">
    <main class="mdl-layout__content">
        <div class="mdl-card mdl-shadow--6dp">

Welcome {{user.firstName}} {{user.lastName}}
                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button" href='/logout'>Log Out</a>
                </div>

        </div>
    </main>
</div>